# python
__pycache__

# reframe
reframe/
reframe.log
reframe.out
stage/*
apps/castep/downloads/*

# other
setup/.sslconfig
Miniconda*.sh
working/*
outdated/*

# jupyter checkpoints:
*-checkpoint.ipynb