# python
__pycache__
build/
*.egg-info

# reframe
reframe/
reframe.log
reframe.out
stage/
output/
apps/castep/downloads/
apps/wrf/downloads/
apps/gromacs/downloads/

# other
setup/.sslconfig
Miniconda*.sh
working/
outdated/

# jupyter checkpoints:
*-checkpoint.ipynb
